body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    text-align: center;
    background: #fdf6e3;
  }
  
  .page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #page1 {
    background: url('Foto.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  }
  
  #page2 {
    background: url('Foto2.jpg') repeat;
    color: rgb(243, 226, 226);
  }
  
  .hidden {
    display: none;
  }
  
  button {
    padding: 12px 24px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: #ff7f50;
    color: white;
    cursor: pointer;
  }
  button:hover { background: #e76f3c; }
  